.container{
  width: 600px;
  background-image: url(../images/marble-texture.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.contact-form{
  background-color: #f1e4e4;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
}
.contact-form-headline{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  text-align: center;
  height: 150px;
  padding: 0 50px;
}
.contact-form-headline h2{
  margin: 10px;
}
.form-element{
  width: 250px;
  margin: 15px;
}
.form-element input, .form-element textarea{
  padding: 10px;
  border: 1px solid black;
  width: 228px;
}
.form-textarea{
  width: 530px;
}
.form-textarea textarea{
  width: 508px;
}
.form-btn{
  width: 100px;
}
.form-btn button{
  background-color: white;
  padding: 10px 30px;
  border: 1px solid black;
  width: 100px;
}
